[alias]
  st = status
  clean-local-branches = "!git branch --merged master | egrep -v '\\s+master$' | xargs git branch -d"
[user]
  name = Paul Guelpa
  email = paul.guelpa@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
	ui = true
[github]
  user = pguelpa
[push]
	default = simple
[url "git@github.com:"]
  insteadOf = https://github.com/

