"*":
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  core:
    telemetryConsent: "limited"
  "exception-reporting":
    userId: "c4ab15f1-b88c-4068-96d0-d0a51dd90892"
  "linter-ui-default": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
  welcome:
    showOnStartup: false
